# extra for chaostoolkit packages

# chaostoolkit-opentracing
jaeger-client~=4.8
opentelemetry-api
opentelemetry-sdk
opentelemetry-opentracing-shim
opentelemetry-exporter-jaeger-thrift
opentelemetry-propagator-b3
opentelemetry-exporter-jaeger-proto-grpc
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
